<html>
    <head>
        <link href="index.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>
    <div id="main">
    	<div id="wrapper">
    		
            <div id="banner"> 
                <!-- <h1 align="center"><marquee direction="down" height="100" width="200">Data Archive</marquee></h1> -->
                <h1>
                    Data Archive
                </h1>
            </div><!--end of banner-->

            <div class="navbar">
                  <a href="index.html">Home</a>
                  <a href="data.html">Data</a>
                  
                  <div class="dropdown">
                    
                    <button class="dropbtn">Dropdown 
                      <i class="fa fa-caret-down"></i>
                    </button>
                    
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>

                  </div> 
                
            </div>
            
            <!-- <div id="menu">
            	<a href="mysit.html">Home</a>
                <a href="data.html">Data</a>
                <a href="mysitsevenwonders.html">SevenWonders</a>
                <a href="mysitkotagarh.html">kota garh</a>
                <a href="mysitkishoresagar.html">kidhoresagar</a>
                <a href="mysitgadariamahadev.html">gadaria mahadev</a>
            </div> --><!--end of menu-->
            
            <div id="middle">
            	<div id="content">
                    <h2 style="margin-left:10px; color: darkblue;">Welcome to The ARIES Data Archive</h2>
                    
                    <!-- <p style="margin-left:10px; font-family:'Arial Black', Gadget, sans-serif; font: size 1.3em;">       
                    <strong>kota</strong> previously known as kotah, is a city located in the southeast of northern indian state of rajasthan.&ensp;It is located about 240km south of state capital, jaipur situated on the bank of <a href="form.html"><font color="#3300FF">chambal river</font></a> <br/>
                    With a population of over <u>1.2 million</u>,it is tha third most populated city of rasjasthan after jaipur and jodhpur.kota is majaor coaching hub for exam preparations and has a number of engineering and medical institute.</p><br/><br/>
                 -->


                    <p style="margin-left:10px; font-family:'Black', Gadget, sans-serif; font: size 1.3em;; text-align: justify; margin-right: 10px;">Situated adjacent to the picturesque hill town of Nainital, ARIES (an acronym of Aryabhatta Research Institute of Observational Sciences) is one of the leading research Institutes which specializes in observational Astronomy & Astrophysics and Atmospheric Sciences. The main research interests of Astronomy & Astrophysics division are in solar, planetary, stellar, galactic and extra-galactic astronomy including stellar variabilities, X-ray binaries, star clusters, nearby galaxies, quasars, and inherently transient events like supernovae and highly energetic gamma-ray bursts. Research focus in Atmospheric Sciences division is mainly in the lower part of the atmosphere and covers the studies on aerosols and trace gases. Moreover, to strengthen the scientific contribution.</p>


                    <!-- <table width="500" bgcolor="#FFFFCC" border="2" bordercolor="#999999" height="100" style="margin-left:100px;">
                        <tr>
                            <th>District</th>
                            <th>kota</th>
                        </tr>

                        <tr>
                            <th>Area</th>
                            <th>221.36km2</th>
                        </tr>

                        <tr>
                            <th>Population</th>
                            <th>1001,64</th>
                        </tr>

                        <tr>
                            <th>MP
                            <th>Shri Om birla</th>
                        </tr>
                    </table> -->

                </div><!--end of content-->
                
                <div id="ad">
                <div id="dx">
                <p style="font-family:'Arial Black', Gadget, sans-serif; font-size:16px; margin-top:6px; margin-bottom:15px; text-align:center;"> 'ARIES' </p>
                </div>
                
                </div><!--end of ad-->
            </div><!--end of middle-->
            
            
           
            <div id="bottom">
            	<p>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
                <a href="#">Privacy Policy</a>
                </p>
                <p style="font-family:Tahoma, Geneva, sans-serif; color:#fff;">
                Copyright &copy; 2020, All rights reserved ARIES India.</br></br></p>
             
                
                
                
            </div>
    	</div><!--end of wrapper-->         
    </div><!--end of main-->



    </body>
</html>
